$darkColor: #1B1B1B;
$lightgray: #9C9C9C;
$lightgrayhover: #cbcaca;

.nav-bar {
    border-radius: 0 0 12px 12px;
}

.nav-link {
    font-size: 1.2em;
    color: #9C9C9C;
    transition: all 0.3s ease-in-out;
    opacity: 0.8;
    cursor: pointer;

    &:hover {
        color: #cbcaca;
    }

    @media screen and (max-width: 768px) {
        font-size: 1em
    }

    &_socialicon {
        color: #9C9C9C;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        width: 30px;
        height: 100%;

        &:hover {
            color: #cbcaca;
        }

        @media screen and (max-width: 768px) {
            width: 16px;
        }
    }
}